<!-- Default form register -->
<div class="container body">
  <form (ngSubmit)="onSubmit()" [formGroup]="addFaculties" class="text-center border border-light p-5">

    <p class="h4 mb-4">Add New Faculties</p>

    <div class="form-row mb-4">
      <div class="col">
        <!-- First name -->
        <input class="form-control" formControlName="fullName" placeholder="Full Name" type="text">
      </div>
      <div class="col">
        <!-- Last name -->
        <input class="form-control" formControlName="teacherInitial" placeholder="Teacher Initial " type="text">
      </div>
    </div>

    <!-- Degisnation -->
    <input class="form-control mb-4" formControlName="designation" placeholder="Designation" type="text">


    <!-- Department Name -->
    <div class="form-group">
      <small>*select Department</small>
      <select class="form-control" formControlName="dept">
        <option>Department Of SWE</option>
        <option>Department Of CSE</option>
        <option>Department Of EEE</option>
        <option>Department Of TE</option>
      </select>

    </div>

    <!-- Degisnation -->
    <input class="form-control mb-4" formControlName="employeeId" placeholder="Employee Id" type="text">


    <div class="form-group">
      <small>*select Faculties Type</small>
      <select class="form-control" formControlName="facultyLabel">
        <option>Senior faculty</option>
        <option>Junior faculty</option>
        <option>Intern faculty</option>
      </select>

    </div>
    <!-- Phone number -->
    <input aria-describedby="defaultRegisterFormPhoneHelpBlock" class="form-control mb-4" formControlName="phoneNumber"
           placeholder="Phone number" type="text">
    <!-- Email number -->
    <input aria-describedby="defaultRegisterFormPhoneHelpBlock" class="form-control mb-4" formControlName="email"
           placeholder="Email" type="email">
    <!-- Pass number -->
    <input aria-describedby="defaultRegisterFormPhoneHelpBlock" class="form-control mb-4" formControlName="password"
           placeholder="Ser Initial Password" type="Password">


    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Active Account & Sand Activation mail</button>


  </form>
  <!-- Default form register -->
</div>
