<!-- Default form register -->
<div class="container body">
  <form action="#!" class="text-center border border-light p-5">

    <p class="h4 mb-4">Add New Faculties</p>

    <div class="form-row mb-4">
      <div class="col">
        <!-- First name -->
        <input class="form-control" id="defaultRegisterFormFirstName" placeholder="Full Name" type="text">
      </div>
      <div class="col">
        <!-- Last name -->
        <input class="form-control" id="defaultRegisterFormLastName" placeholder="Teacher Initial " type="text">
      </div>
    </div>

    <!-- Degisnation -->
    <input class="form-control mb-4" id="defaultRegisterFormEmail" placeholder="Designation" type="text">


    <!-- Department Name -->
    <div class="form-group">
      <small>*select Department</small>
      <select class="form-control" id="dprtname">
        <option>Department Of SWE</option>
        <option>Department Of CSE</option>
        <option>Department Of EEE</option>
        <option>Department Of TE</option>
      </select>

    </div>

    <!-- Degisnation -->
    <input class="form-control mb-4" id="defaultRegisterFormEmployeeid" placeholder="Employee Id" type="text">


    <div class="form-group">
      <small>*select Faculties Type</small>
      <select class="form-control" id="sel1">
        <option>Senior faculty</option>
        <option>Junior faculty</option>
        <option>Intern faculty</option>
      </select>

    </div>
    <!-- Phone number -->
    <input aria-describedby="defaultRegisterFormPhoneHelpBlock" class="form-control mb-4"
           id="defaultRegisterPhonePassword" placeholder="Phone number"
           type="text">
    <!-- Email number -->
    <input aria-describedby="defaultRegisterFormPhoneHelpBlock" class="form-control mb-4" id="defaultRegisteEmail"
           placeholder="Email"
           type="email">
    <!-- Pass number -->
    <input aria-describedby="defaultRegisterFormPhoneHelpBlock" class="form-control mb-4" id="defaultRegistePassword"
           placeholder="Ser Initial Password"
           type="Password">

    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
      <input class="custom-control-input" id="defaultRegisterFormNewsletter" type="checkbox">
      <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Active Account & Sand Activation mail</button>


    <!-- Terms of service -->
    <p>By clicking
      <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a>

  </form>
  <!-- Default form register -->
</div>
