<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="margin:50px 0">
        <!-- Default panel contents -->
        <div class="card-header">Access Control</div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Enable Senior Faculties Routine Portal
            <label class="switch ">
              <input class="default" type="checkbox">
              <span class="slider"></span>
            </label>
          </li>
          <li class="list-group-item">
            Enable Junior Faculties Routine Portal
            <label class="switch ">
              <input class="primary" type="checkbox">
              <span class="slider"></span>
            </label>
          </li>
          <li class="list-group-item">
            Enable Intern Faculties Routine Portal
            <label class="switch ">
              <input class="success" type="checkbox">
              <span class="slider"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
