<div class="sidebar" data-background-color="white" data-color="green">

  <div class="logo">
    <h2 class="text-center diu_routine_portal_text"><span style="color: red">Routine</span> Portal</h2>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a [routerLink]="['routine']" class="nav-link">
          <i class="material-icons">dashboard</i>
          <p class="text-black-50">Class Routine</p>
        </a>
      </li>
      <li class="nav-item ">
        <a [routerLink]="['my-routine']" class="nav-link">
          <i class="fas fa-universal-access"></i>
          <p>My Routine</p>
        </a>
      </li>
      <li class="nav-item ">
        <a [routerLink]="['available-rooms']" class="nav-link">
          <i class="material-icons">library_books</i>
          <p>Available Rooms </p>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['profile']" class="nav-link">
          <i class="material-icons">person</i>
          <p>My Profile</p>
        </a>
      </li>

      <li class="nav-item ">
        <a (click)="logout()" class="nav-link">
          <i class="material-icons">bubble_chart</i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
  </div>
</div>
