<div class="body">


  <div>
    <h2 class="header-fonts">Faculties <span style="color: red">L</span>ist</h2>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Employee Id</th>
      <th scope="col">Name</th>
      <th scope="col">Faculty Initial</th>
      <th scope="col">Department</th>
      <th scope="col">Designation</th>
      <th scope="col">Faculty Type</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email</th>
      <th scope="col">Join Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of employeesList">
      <td scope="row">{{ a.employeeId }}</td>
      <td>{{ a.fullName}}</td>
      <td>{{ a.teacherInitial }}</td>
      <td>{{ a.department }}</td>
      <td>{{ a.designation }}</td>
      <td>{{ a.facultyType }}</td>
      <td>{{ a.phoneNumber }}</td>
      <td>{{ a.email }}</td>
      <td>{{ a.joinDate }}</td>

    </tr>

    </tbody>
  </table>
</div>
