<div class="bs-example">
  <div class="mb-3">
    <div>
      <h1>{{ routineSemester }}</h1>
      <p><span class="text-secondary font-weight-bold">Publish Date:</span> {{ routinePublishDate }} | <small
        class="text-secondary font-weight-bold">Effective Date:</small> {{ routineEffectiveDate }}</p>
    </div>
    <div class="mb-3 text-right">
      <div class="btn-group">
        <button (click)="addNewRoutine()" class="btn btn-success" type="button">Add New Routine</button>
        <button class="btn btn-warning" type="button">Update</button>
        <button class="btn btn-danger" type="button">Delete</button>
      </div>
    </div>
    <div *ngIf="show" class="alert alert-warning" role="alert">
      Sorry ,This slot Already Taken.Let's see another one...
    </div>

    <table class="table table-bordered">

      <tr>
        <th class="text-center" colspan="13">Saturday</th>
      </tr>
      <!--------------------------------------------------------------AB4 -514----------------------------------->
      <tr>
        <td class="text-center">
          <div>

            AB4-514<br>(SWE-Lab)
          </div>
        </td>
        <td *ngFor="let a of saturdayClassRoomDetails4514">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'saturday','AB4-514')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Label :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

      <!--------------------------------------------------------------AB4 -204----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-204
          </div>
        </td>

        <td *ngFor="let a of saturdayClassRoomDetails4204">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'saturday','AB4-204')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

      <!--------------------------------------------------------------AB4 -503----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-503
          </div>
        </td>

        <td *ngFor="let a of saturdayClassRoomDetails4503">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'saturday','AB4-503')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -602----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-602
          </div>
        </td>

        <td *ngFor="let a of saturdayClassRoomDetails4602">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'saturday','AB4-602')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -604----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-604
          </div>
        </td>

        <td *ngFor="let a of saturdayClassRoomDetails4604">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'saturday','AB4-604')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB1 -103----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB1-103
          </div>
        </td>

        <td *ngFor="let a of saturdayClassRoomDetails1103">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'saturday','AB1-103')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -220----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-220
          </div>
        </td>

        <td *ngFor="let a of saturdayClassRoomDetails4220">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'saturday','AB4-220')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

    </table>

    <!--
   *
   **Sunday Table
   **
    -->
    <table class="table table-bordered">

      <tr>
        <th class="text-center" colspan="13">Sunday</th>
      </tr>
      <!--------------------------------------------------------------AB4 -514----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-514<br>(SWE-Lab)
          </div>
        </td>
        <td *ngFor="let a of sundayClassRoomDetails4514">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'sunday','AB4-514')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Label :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

      <!--------------------------------------------------------------AB4 -204----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-204
          </div>
        </td>

        <td *ngFor="let a of sundayClassRoomDetails4204">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'sunday','AB4-204')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

      <!--------------------------------------------------------------AB4 -503----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-503
          </div>
        </td>

        <td *ngFor="let a of sundayClassRoomDetails4503">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'sunday','AB4-503')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -602----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-602
          </div>
        </td>

        <td *ngFor="let a of sundayClassRoomDetails4602">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'sunday','AB4-602')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -604----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-604
          </div>
        </td>

        <td *ngFor="let a of sundayClassRoomDetails4604">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'sunday','AB4-604')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB1 -103----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB1-103
          </div>
        </td>

        <td *ngFor="let a of sundayClassRoomDetails1103">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'sunday','AB1-103')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -220----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-220
          </div>
        </td>

        <td *ngFor="let a of sundayClassRoomDetails4220">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'sunday','AB4-220')">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

    </table>

    <!--
   *
   **Monday Table
   **
    -->
    <table class="table table-bordered">

      <tr>
        <th class="text-center" colspan="13">Monday</th>
      </tr>
      <!--------------------------------------------------------------AB4 -514----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-514<br>(SWE-Lab)
          </div>
        </td>
        <td *ngFor="let a of mondayClassRoomDetails4514">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'monday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Label :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

      <!--------------------------------------------------------------AB4 -204----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-204
          </div>
        </td>

        <td *ngFor="let a of mondayClassRoomDetails4204">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'monday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

      <!--------------------------------------------------------------AB4 -503----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-503
          </div>
        </td>

        <td *ngFor="let a of mondayClassRoomDetails4503">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'monday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -602----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-602
          </div>
        </td>

        <td *ngFor="let a of mondayClassRoomDetails4602">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'monday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -604----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-604
          </div>
        </td>

        <td *ngFor="let a of mondayClassRoomDetails4604">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'monday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB1 -103----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB1-103
          </div>
        </td>

        <td *ngFor="let a of mondayClassRoomDetails1103">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'monday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -220----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-220
          </div>
        </td>

        <td *ngFor="let a of mondayClassRoomDetails4220">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'monday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

    </table>

    <!--
   *
   **Tuesday Table
   **
    -->
    <table class="table table-bordered">

      <tr>
        <th class="text-center" colspan="13">Tuesday</th>
      </tr>
      <!--------------------------------------------------------------AB4 -514----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-514<br>(SWE-Lab)
          </div>
        </td>
        <td *ngFor="let a of tuesdayClassRoomDetails4514">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'tuesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Label :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

      <!--------------------------------------------------------------AB4 -204----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-204
          </div>
        </td>

        <td *ngFor="let a of tuesdayClassRoomDetails4204">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'tuesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

      <!--------------------------------------------------------------AB4 -503----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-503
          </div>
        </td>

        <td *ngFor="let a of tuesdayClassRoomDetails4503">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'tuesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -602----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-602
          </div>
        </td>

        <td *ngFor="let a of tuesdayClassRoomDetails4602">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'tuesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -604----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-604
          </div>
        </td>

        <td *ngFor="let a of tuesdayClassRoomDetails4604">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'tuesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB1 -103----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB1-103
          </div>
        </td>

        <td *ngFor="let a of tuesdayClassRoomDetails1103">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'tuesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -220----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-220
          </div>
        </td>

        <td *ngFor="let a of tuesdayClassRoomDetails4220">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'tuesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

    </table>

    <!--
  *
  **Wednesday Table
  **
  -->
    <table class="table table-bordered">

      <tr>
        <th class="text-center" colspan="13">Wednesday</th>
      </tr>
      <!--------------------------------------------------------------AB4 -514----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-514<br>(SWE-Lab)
          </div>
        </td>
        <td *ngFor="let a of wednesdayClassRoomDetails4514">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'wednesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Label :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

      <!--------------------------------------------------------------AB4 -204----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-204
          </div>
        </td>

        <td *ngFor="let a of wednesdayClassRoomDetails4204">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'wednesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

      <!--------------------------------------------------------------AB4 -503----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-503
          </div>
        </td>

        <td *ngFor="let a of wednesdayClassRoomDetails4503">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'wednesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -602----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-602
          </div>
        </td>

        <td *ngFor="let a of wednesdayClassRoomDetails4602">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'wednesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -604----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-604
          </div>
        </td>

        <td *ngFor="let a of wednesdayClassRoomDetails4604">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'wednesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB1 -103----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB1-103
          </div>
        </td>

        <td *ngFor="let a of wednesdayClassRoomDetails1103">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'wednesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -220----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-220
          </div>
        </td>

        <td *ngFor="let a of wednesdayClassRoomDetails4220">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'wednesday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

    </table>

    <!--
  *
  **Thursday Table
  **
  -->
    <table class="table table-bordered">

      <tr>
        <th class="text-center" colspan="13">Thursday</th>
      </tr>
      <!--------------------------------------------------------------AB4 -514----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-514<br>(SWE-Lab)
          </div>
        </td>
        <td *ngFor="let a of thursdayClassRoomDetails4514">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'thursday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Label :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

      <!--------------------------------------------------------------AB4 -204----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-204
          </div>
        </td>

        <td *ngFor="let a of thursdayClassRoomDetails4204">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'thursday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

      <!--------------------------------------------------------------AB4 -503----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-503
          </div>
        </td>

        <td *ngFor="let a of thursdayClassRoomDetails4503">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'thursday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -602----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-602
          </div>
        </td>

        <td *ngFor="let a of thursdayClassRoomDetails4602">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'thursday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -604----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-604
          </div>
        </td>

        <td *ngFor="let a of thursdayClassRoomDetails4604">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'thursday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB1 -103----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB1-103
          </div>
        </td>

        <td *ngFor="let a of thursdayClassRoomDetails1103">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'thursday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>
      <!--------------------------------------------------------------AB4 -220----------------------------------->
      <tr>
        <td class="text-center">
          <div>
            AB4-220
          </div>
        </td>

        <td *ngFor="let a of thursdayClassRoomDetails4220">
          <div (click)="setMyClass(a.classDetailsId,a.facultyMemberEmployeeId,'thursday',a.roomNo)">
            <p class="text-center colors text-white"><b> {{ a.startTime + ' - ' + a.endTime }}</b></p>
            <b>Course code:</b> {{a.courseCode }}<br>
            <b>Lavel :</b> {{ a.label }}<br>
            <b>Section:</b> {{ a.section }}<br>
            <b>FM:</b> {{a.facultyMember }}
            <a (click)="setClassSchedule('saturdayR2C5')" *ngIf="!a.roomNo"><i class="fas fa-plus-circle plusIcon"></i></a>
          </div>
        </td>
      </tr>

    </table>


  </div>
</div>
