<div class="sidebar" data-color="green" data-background-color="white" >

  <div class="logo">
    <h2 class="text-center diu_routine_portal_text">Routine Portal</h2>
  </div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['admin']">
        <i class="material-icons">dashboard</i>
        <p class="text-black-50">Dashboard</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['profile']">
        <i class="material-icons">person</i>
        <p>User Profile</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['add-faculties']">
        <i class="material-icons">library_books</i>
        <p>Add Faculties </p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['faculties-list']">
        <i class="material-icons">content_paste</i>
        <p>Faculties List</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['profile']">
        <i class="material-icons">notifications</i>
        <p>Notifications</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['']">
        <i class="material-icons">bubble_chart</i>
        <p>Logout</p>
      </a>
    </li>
  </ul>
</div>
</div>
