@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Oswald&display=swap');

.bs-example {
  margin: 20px;
}

td:hover {
  font-family: 'Oswald', sans-serif;
  font-family: 'Noto Serif', serif;
  background-color: rgba(255, 135, 114, 0.65);
  color: #FFFFFF;
}

th {
  font-family: 'Oswald', sans-serif;
  font-family: 'Noto Serif', serif;
  background-color: #0fb62d;
  color: #FFFFFF;
}

.th {
  font-family: 'Oswald', sans-serif;
  font-family: 'Noto Serif', serif;
  background-color: #0fb62d;
  color: #FFFFFF;
}

.colors {
  background-color: rgba(54, 182, 111, 0.66);
}

.bgWhite {
  background-color: #ffffff;
}
.plusIcon {
  color: #36b66f;
}

.plusIcon:hover {
  color: #b64a52;
}
